@use '../custom' as *;
@use '../components/mixins' as *;

.menu{
    @include gradient;

    li{
        padding: 0 0.7rem;

        a{
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }

    .navbar-brand span{
        // @include font-size($lead-font-size);
        
        font-size: 30px;
        font-weight: 500;
        // font-family: fantasy;
        font-family: $display-font-family;
    }
}